<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fluidcoding.brian.queuewithfriends">
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/queue_with_friends_round" android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".QueueWithFriends"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".RoomListView"
            android:label="@string/title_activity_room_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QueueView"
            android:label="@string/title_activity_queue_view"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
